.container {
	width: 1140px;
	margin: 0 auto;
	font-family: sans-serif;
}
.header {
	display: flex;
	justify-content: space-between;
	position: relative;
}
.header h1 a{
	text-decoration: none;
	color: black;
}
.header h2{
	position: absolute;
	text-align: center;
	transform: translateX(-50px);
	left: 47%;
}
.header .nav a{
	color: black;
	text-decoration: none;
}
.header .nav .tombol {
	border: none;
	margin-top: 25px;
	background-color: #FFC286;
	width: 70px;
	height: 35px;
	font-size: 15px;
	border-radius: 10px;
}
.konten .foto {
	text-align: center;
}
.konten .artikel h1{
	text-align: center;
}